.header {
  grid-area: header;
  padding: var(--padding);
  margin-right: var();
  display: flex;
  justify-content: space-between;
}

.h1-like {
  font-size: var(--title);
  padding-top: .5rem;
}

.h1-like::after {
  content: '\1F331';
}

.h2-like {
  font-size: var(--smallText);
  margin-bottom: 6rem;
}

.header_image {
  width: 14rem;
  align-self: center;
}
