.header {
  padding: var(--padding);
  background-image: var(--headerLogo);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: var();
}

.header__titles {
  width: 23.6rem;
}

.h1-like {
  font-size: var(--title);
}

.h2-like {
  font-size: var(--smallText);
  margin-bottom: 6rem;
}
