.header {
  padding: var(--padding);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: var();
  display: flex;
  justify-content: space-between;
}


.h1-like {
  font-size: var(--title);
  padding-top: .5rem;
}

.h1-like::after {
  content: '\1F331';
}

.h2-like {
  font-size: var(--smallText);
  margin-bottom: 6rem;
}
