:root {
  --mainColor: #f9d2cb;
  --secondColor: #a3f4dc;
  --darkColor: #212121;
  --greyColor: #9c9c9c;
  --paddingBig: 3rem;
  --padding: 1.6rem;
  --paddingSmall: 1.2rem;
  --margin: 3rem;
  --fontFamily: roboto;
  --font-style: normal;
  --title: 2.6rem;
  --textBig: 2rem;
  --text: 1.8rem;
  --smallText: 1.2rem;
  --headerLogo: url('../assets/img/plan-based-coffee.png');
}
