@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.layout {
  font-family: var(--fontFamily);
}

.highlight {
  background-color: var(--mainColor);
}

.spaced {
  padding:  var(--paddingBig);
}

.visually-hidden {
  display: none;
}

.prices__list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.price {
  background-color: white;
  border-radius: 6px;
  padding: 1.2rem;
}

.price__button {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.price__button__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.price__button__name {
  font-size: var(--text);
}

.price__button__amount {
  font-size: var(--smallText);
  color: var(--greyColor);
}

.price__button__plus {
  background-color: var(--secondColor);
  border-radius: 3px;
  font-size: var(--title);
  align-self: center;
  height: 3.8rem;
  width: 3.8rem;
}

.order {
  border-bottom: 1px solid var(--greyColor);
  font-size: var(--text);
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__amount {
  color: var(--mainColor);
}

.remove {
  color: var(--greyColor);
  font-size: var(--text);
}

.title_mini {
  font-size: var(--smallText);
}

.total {
  background-color: #fafafa;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total__label, .total__price {
  font-size: var(--text);
}

@media (min-width: 300px){

}
